<div class="stud_show">
<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Year of birth:</strong>
  <%= @student.year_of_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Fathers name:</strong>
  <%= @student.fathers_name %>
</p>

<p>
  <strong>Mothers name:</strong>
  <%= @student.mothers_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<%= link_to 'Edit', edit_student_path(@student),class: "card-link" %> |
<%= link_to 'Back', students_path ,class: "card-link"%>
</div>