<p id="notice"><%= notice %></p>

<h1>Items Imports</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items_imports.each do |items_import| %>
      <tr>
        <td><%= link_to 'Show', items_import %></td>
        <td><%= link_to 'Edit', edit_items_import_path(items_import) %></td>
        <td><%= link_to 'Destroy', items_import, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Items Import', new_items_import_path %>
